/* * {
    border: 1px solid red !important;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;

    color: hsl(0, 0%, 25%);
}

em {
    font-weight: bold;

}

h2 {
    font-size: 4rem;
    font-weight: bold;
}

h3 {
    font-size: 2.5rem;
    font-weight: bold;
}

/* ---------- Header ---------- */

.desktop {
    display: none;
}

.header {
    height: 64px;
    width: 100%;
    position: sticky;
    top: 0;

    display: inline-flex;
    align-content: center;
    justify-content: space-between;

    background-color: white;
}

.mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto;
}

.mobile-nav img {
    height: 32px;
}

@media screen and (min-width: 720px) {

    .mobile-nav {
        display: none;
    }

    .desktop {
        display: inline-flex;
    }

    .desktop img {
        margin: auto;
        margin-left: 24px;
        height: 50px;
    }

    #desktop-text {
        width: fit-content;
        height: fit-content;
        margin: auto;
        margin-left: 4px;

        font-size: 1.5rem;
        text-align: left;
        color: grey;
    }

    #desktop-text em {
        color: black;
    }

    .desktop-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 8px;
    }

    .desktop-nav li {
        margin: 16px;
    }
}

/* ---------- learn something ---------- */

.learn-something {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-weight: bold;
    font-size: 2rem;

    background-color: hsl(0, 0%, 75%);
}


.learn-something-text {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: left;

}

.learn-something img {
    width: 100%
}

.learn-something-text h2 {
    font-size: 4rem;

    margin: 32px 16px;
}

.learn-something-text p {
    margin: 24px 16px;
}

.learn-something-text a {
    text-align: center;

    padding: 12px;
    margin: 24px 16px 32px 16px;
    color: white;

    background-color: hsl(0, 0%, 25%);
}

@media screen and (min-width: 720px) {

    .learn-something {
        flex-direction: row;
    }

    .learn-something-image {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 60%;
        margin: 24px;
    }

    .learn-something img {
        width: 100%;
        max-width: 1000px;
        height: 100%;
        object-fit: cover;

    }

    .learn-something-text {
        justify-content: center;
        width: 40%;
        min-width: 40%;
    }

    .learn-something-text h2,
    .learn-something-text p,
    .learn-something-text a {
        width: 80%;
        max-width: 550px;

    }
}

@media screen and (min-width: 720px) and (max-width: 1200px) {
    .learn-something {
        flex-direction: row;

        font-size: 1.5rem;
    }

    .learn-something h2 {
        font-size: 2.5rem;
    }
}

/* ---------- more information ---------- */

.more-info {
    display: flex;
    justify-content: center;

    background-color: hsl(0, 0%, 90%);
    ;
}

.desktop-info {
    display: none;
}

.infos {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;

    margin: 16px;
}

.info img {
    width: 100%;
}

.info a,
.info p {
    margin: 8px 0;
}

.info a {
    color: rgb(0, 92, 230);
}

.info h3 {
    margin: 16px 16px 16px 0;
}

@media screen and (min-width: 720px) {
    .desktop-info {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 60%;
        margin: 24px;
    }

    .desktop-info img {
        width: 100%;
        max-width: 1000px;
    }


    .infos {
        width: 40%;
        min-width: 40%;
        align-items: baseline;
    }

    .info {
        flex-direction: row;
    }

    .info img {
        margin: 16px;
        width: fit-content;
        max-height: 200px;
    }

    .desktop-info-text {
        display: flex;
        flex-direction: column;

        align-content: center;
        justify-content: center;

        width: 100%;
        max-width: 1000px;
    }

    .desktop-info-text h2 {
        margin: 32px 0 24px 0;
    }

    #desktop-quote {
        font-size: 1.5rem;
        font-weight: lighter;

        width: 100%;
        max-width: 1000px;

        margin: 24px 0;

    }

    #desktop-quote-author {
        font-size: 1.75rem;
        font-weight: bold;
    }
}

@media screen and (min-width: 720px) and (max-width: 1200px) {

    .desktop-info img {
        height: 500px;
        object-fit: cover;
    }

    .infos {
        margin-top: 16px;
        ;
    }

    .info {
        flex-direction: column;
        margin: 0 16px;
    }

    .info img {
        margin: 8px 0;
        width: fit-content;
        max-height: 150px;
    }

    .info h3 {
        margin: 0px;
    }

    .desktop-info-text h2 {
        font-size: 2.5rem;
    }

    #desktop-quote {
        font-size: 1rem;
    }

    #desktop-quote-author {
        font-size: 1.25rem;
    }
}

/* ---------- start learning ---------- */

.start-learning {
    background-color: hsl(0, 0%, 90%);
    padding: 32px;
}

.start-learning h2 {
    text-align: center;
    margin-bottom: 64px;
}

.grid-container {
    display: grid;
    align-content: center;
    align-items: center;
    justify-content: center;
    justify-items: center;
    gap: 32px;
    width: 100%;
}

.grid-item {
    background-color: hsl(0, 0%, 75%);
    height: 100%;
    width: 100%;
    padding: 8px;
}

.grid-item img,
.grid-item h4,
.grid-item p {
    display: none;
}

.grid-item h3 {
    font-size: 2rem;
}

@media screen and (min-width: 875px) {

    .grid-item img,
    .grid-item h4,
    .grid-item p {
        display: block;
    }

    .grid-item h3,
    .grid-item h4,
    .grid-item p {
        margin: 8px 16px;
    }

    .start-learning {
        background-color: hsl(0, 0%, 75%);
        padding: 32px;
    }

    .grid-container {
        grid-template: 1fr 1fr 1fr / 1fr 1fr;
        align-items: start;
        gap: 32px;

        width: 90%;
        max-width: 900px;
        margin: 32px auto;
    }

    .grid-item h3 {

        margin-top: 16px;
    }

    .grid-item {
        background-color: white;
        height: 100%;
        padding: 0;
        width: 400px;
    }

    .grid-item img {
        max-width: 400px;
        height: auto;
    }
}

@media screen and (min-width: 1350px) {
    .grid-container {
        grid-template: 1fr 1fr / 1fr 1fr 1fr;
    }
}

/* ---------- thesis exhibit ---------- */

.thesis {
    background-color: hsl(0, 0%, 90%);
    padding-top: 32px;
}

.thesis h2 {
    text-align: center;
    margin-bottom: 16px;
}

.thesis video {
    width: 100%;
    height: auto;
}

.thesis-video h3,
.thesis-video p {
    display: none;
}

.thesis-cards {
    display: none;
}

@media screen and (min-width: 1300px) {

    .thesis-video h3,
    .thesis-video p {
        display: block;
        margin: 24px 0;
    }

    .thesis-flex {
        display: flex;
        justify-content: flex-end;
        width: 100%;
    }

    .thesis-video {
        width: 60%;
        max-width: 1000px;
        margin: 0 24px;
    }

    .thesis-video video {
        align-self: right;
        width: 100%;
        height: auto;
    }

    .thesis-cards {
        display: flex;
        flex-direction: column;
        width: 40%;
        min-width: 40%;
    }

    .thesis-card {
        display: flex;
        width: fit-content;
        margin: 0 24px 24px 24px;
    }

    .thesis-card img {
        max-width: 200px;
    }

    .thesis-card h3, .thesis-card p {
        margin: 16px;
        margin-top: 0px;
    }
}

/* ---------- footer ---------- */

footer {
    color:hsl(0, 0%, 25%);
    
    width: 90%;
    max-width: 1200px;
    margin: 12px auto;
    display: flex;
    justify-content: space-between;
    
    line-height: 1.5;
}

footer .terms {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 24px;
}