/* * {
    border: 1px solid red !important;
} */

body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

em {
    font-weight: bold;

}


/* ---------- Header ---------- */

.desktop {
    display: none;
}

.header {
    height: 64px;
    width: 100%;
    position: sticky;
    top: 0;

    display: inline-flex;
    align-content: center;
    justify-content: space-between;

    background-color: white;
}

.mobile-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    margin: auto;
}

.mobile-nav img {
    height: 32px;
}

@media screen and (min-width: 720px) {

    .mobile-nav {
        display: none;
    }

    .desktop {
        display: inline-flex;
    }

    .desktop img {
        margin: auto;
        margin-left: 24px;
        height: 50px;
    }

    #desktop-text {
        width: fit-content;
        height: fit-content;
        margin: auto;
        margin-left: 4px;

        font-size: 1.5rem;
        text-align: left;
        color: grey;
    }

    #desktop-text em {
        color: black;
    }

    .desktop-nav {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 8px;
    }

    .desktop-nav li {
        margin: 16px;
    }
}